@page "/favorites"
@using WeatherApp.Models
@using WeatherApp.Components.Pages.Child;

<PageTitle>Favorites</PageTitle>


@if (favoritedCities == null || favoritedCities.Count == 0)
{
    <p><em>No favorites</em></p>
}
else
{
    <div class="row">
        @foreach (var city in favoritedCities)
        {
            <FavoriteCity City="@city"></FavoriteCity>
        }
    </div>
}

@code {
    private List<FavoritedCity> favoritedCities = new List<FavoritedCity>(); // Default initialization

    protected override async Task OnInitializedAsync()
    {
        throw new Exception("This is a custom exception");
    }
}